<div class="content" role="main">

  <div>
    <span class="title">{{ title }} app is running!</span>

    <div style="padding: 5px; background-color:aqua;">
      folders count: {{count$ | async}}
    </div>
    <ul>
      <li *ngFor='let item of  items$ | async'>
        <span [ngClass]="{ 'hasSubDirs' : item.HasSubDirs }" (click)="onItemClicked(item)">{{item.Name}}</span>
        <ul>
          <li *ngFor='let child of item.exProp.items$ | async'>
            <span (click)="onItemClicked(child)">{{child.Name}}</span>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <form *ngIf="productForm$ | async as form" [formGroup]="form">
    <label for="name">Product Name: </label>
    <input id="name" class="input-control" type="text" formControlName="Name" />
    <br>
    <label for="price">Price: </label>
    <input id="price" class="input-control" formControlName="ListPrice" />
    <br>
    <label for="date">Sell Date: </label>
    <input id="date" class="input-control" type="datetime-local" formControlName="SellStartDate" />
    <div class="actions">
      <button class="button" (click)="onPreviousProduct()">Previous</button>
      <button class="button" (click)="onNextProduct()">Next</button>
      <button class="button" *ngIf="isHasChanges" (click)="onSubmit()">Submit</button>
    </div>
  </form>

  <!--
    <div *ngIf="currentProduct as product else loading">
      <label>
        Name:
        <input name="productName" class="input-control" [ngModel]="product.Name" (ngModelChange)="product.Name=$event" />
      </label>
      <br />
      <br />
      <label>
        Date:
        <input name="sellDate" class="input-control" type="datetime-local"
               [ngModel]="product.SellStartDate | date:'yyyy-MM-ddTHH:mm'"
               (ngModelChange)="product.SellStartDate = strToDate($event)" />
      </label>
      <div class="actions">
        <button class="button" (click)="onPreviousProduct()">Previous</button>
        <button class="button" (click)="onNextProduct()">Next</button>
        <button class="button" *ngIf="isHasChanges" (click)="onSubmit()">Submit</button>
      </div>
    </div>

    <ng-template #loading>
      <div>Loading ...</div>
    </ng-template>
  </div>
 -->


  <router-outlet></router-outlet>
